* {
	box-sizing: border-box;
  }

body {
	background: #f6f5f7;
	display: flex;
	flex-direction: column;
	font-family:  sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  }

h1 {
	font-weight: bold;
	margin: 0;
  } 

h2 {
	text-align: center;
  }

span {
	color: #5cb85c;
  }

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
  }

.container {
    margin: 10px 50px;
	margin-top: 20%;
  }

.form-group {
    margin: 10px;
  }

input {
	background-color: rgb(255, 230, 230);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  }


button {
	border-radius: 20px;
	border: 1px solid #5cb85c;
	background-color: #5cb85c;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 65px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
  }

button:hover {
	transform: scale(0.95);
    background-color:#FFFFFF;
    color: #5cb85c;
    transition: 150ms ease-in-out;
  }

ul {
	border: 1px solid #e7e7e7;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(36, 36, 36);
  	position: sticky;
  	top: 0;
  }

li {
	display: inline;
	color: #666;
	float: left;
	border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

li a:hover {
	background-color: #5cb85c;
  }